    /*UNIVERSAL SELECTION*/

* {
    box-sizing: border-box;
}


/**********************************************
GENERAL
**********************************************/

body {
    margin: 0;
    font-family: 'Roboto', sans-sarif;
    line-height: 1.5;
    text-align: center
}

.main-header {
    height: 850px;
    padding-top: 170px;
    /*background-image: url('../img/mountains.jpg');*/
    /*background-image: radical-gradient(circle at top, #ffa949, firebrick);*/
    /*background-image: linear-gradient(#ffa949, firebrick);*/
    background: linear-gradient(red, transparent 90%), linear-gradient(0deg, #fff, transparent), #ffa949 url('../img/class.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.main-header,
.title {
    text-align: center;
}

.title {
    /*To change font-size from px to em. Do this simple equation.
  Whatever the desired pixel is / 16.
  26px/16px = 
  */
    font-size: 1.625em;
    color: white;
    letter-spacing: .065em;
    font-weight: 200;
    border-bottom: 2px solid;
    padding-bottom: 10px;
}

primary-content {
    text-align: center;
    padding-bottom: 95px;
}

secondary-content {
    padding-top: 80px;
    padding-bottom: 70px;
    border-bottom: 2px solid #dfe2e6;
}

.primary-content,
.secondary-content {
    width: 75%;
    margin: auto;
    padding-right: 50px;
    padding-left: 50px;
    max-width: 920px;
}

.t-border {
    border-top: 2px solid lightgrey;
}


/*ul li {
  margin-bottom: 5px;
}*/

ul,
ol {
    margin-left: 30px 0;
}

[] {
    margin-bottom: 10px;
}

.arrow {
    width: 50px;
    margin-top: 150px;
}

img {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 10px;
}

.projects {
    padding: 18% 24%;
    border-top: 10px solid black;
    margin: 105px 0 60px;
    background-image: url('../img/mario.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: inset 0px 0px 50px 10px rgba(0, 0, 0, .8);
    
}

.courses {
    padding: 18% 24%;
    border-top: 10px solid black;
    margin: 105px 0 60px;
    background-image: url('../img/cous.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: inset 0px 0px 50px 10px rgba(0, 0, 0, .8);
    
}

.callout {
    font-size: 1.25em;
    border-bottom: 3px solid;
    padding: 0 9px 3px;
    margin-top: 20px;
    display: inline-block;
}

#main-footer {
    padding-top: 60px;
    padding-bottom: 60px;
    border-bottom: solid 10px red;
}


/*************************************************
HEADLINE ELEMENTS & P ELEMENTS
*************************************************/

h1 {
    font-size: 5.625em;
    text-transform: uppercase;
    font-weight: normal;
    line-height: 1.3;
    text-shadow: 0 1px 1px rgba(0, 0, 0.8);
    margin: 12px 0 0;
}

h2 {
    font-size: 53px;
    text-decoration: underline;
    font-weight: normal;
    margin-bottom: .5em;
    color: red;
}

h4 {
    font-size: 25px;
    text-decoration: underline;
    font-weight: normal;
    margin-bottom: .5em;
    color: white
}

h3 {
    font-size: 20px;
    margin-bottom: .5em;
    color:white;
        
}

p {}

h6 {
    font-size: 25px;
    text-decoration: underline;
    font-weight: normal;
    margin-bottom: .5em;
    color: red;
}

h7 {
    font-size: 30px;
    text-decoration: underline;
    font-weight: normal;
    margin-bottom: .5em;
    color: black
}

/*****************************************************
FLOATED COLUMNS 
*****************************************************/

.resorts,
.tips {
    width: 46.5%;
}

.resorts {
    float: left;
}

.application {
    float: right;
    background-color: black;
    color:white;    
}

.group:after {
    content: "";
    display: table;
    clear: both;
}


/*****************************************************
COLORS
*****************************************************/

body {
    color: black;
}

.title {
    color: whitesmoke;
}

.main-header {
    background-color: orangered;
}

ul li {
    color: olive;
}

h1 {
    color: white;
}

h3 {
    color: #4852c;
}


/*CSS PSEUDO CLASS*/

a:link {
    color: indianred;
    text-decoration: none;
}

a:visited {
    color: ;
}
    a:active {
        color: coral;
    }
    a:focus {
        color: white;
        background-color: orange;
    }
    /******************************************
MEDIA QUERIES
******************************************/
    @media (max-width: 1024px) {
        .primary-content,
        .secondary-content {
            width: 90%;
        }
        .wildlife {
            padding: 10% 12%;
            margin: 50px 0 20px;
        }
    }
    @media (max-width: 768px) {
        .primary-content,
        .secondary-content {
            width: 100%;
            padding: 20px;
            border-top: none;
        }
        .main-header {
            max-height: 380px;
            padding: 50px 25px 0;
        }
        .title {
            font-size: 1.3rem;
            border: none;
        }
        h1 {
            font-size: 5rem;
            line-height: 1.1;
        }
        .arrow {
            display: none;
        }
        .intro {
            font-size: 1rem;
        }
        .resorts,
        .tips {
            float: none;
            width: 100%;
        }
        .main-footer {
            padding: 20px 0;
        }
    }
    @media (max-width: 375px) {
        h1 {
            font-size: 3rem;
        }
    }


















element.style {
}
button.round, .button.round {
    border-radius: 1000px;
}
.button {
    color: black;
    background-color: white;
    -webkit-box-shadow: 10px 10px 20px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 20px 1px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 20px 1px rgba(0,0,0,0.75);
    font-family: 'Play', sans-serif;
    text-transform: uppercase;
}
.text-center {
    text-align: center !important;
}
@media only screen and (min-width: 40.063em)
button, .button {
    display: inline-block;
}
button, .button {
    border-style: solid;
    border-width: 0;
    cursor: pointer;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-weight: normal;
    line-height: normal;
    margin: 0 0 1.25rem;
    position: relative;
    text-decoration: none;
    text-align: center;
    -webkit-appearance: none;
    border-radius: 0;
    display: inline-block;
    padding-top: 1rem;
    padding-right: 2rem;
    padding-bottom: 1.0625rem;
    padding-left: 2rem;
    font-size: 1rem;
    background-color: white;
    border-color: black;
    color: black;
    transition: background-color 300ms ease-out;
}

div.ss-form-container {
    padding: 15px;
    background-color: black;
    border-color: #4a4a4a;
    border-style: solid;
    border-width: 1px;
}

.ss-form-container {
    border: none;
    margin: 0;
    padding: 10px;
    width: auto;
}
.ss-form-container {
    margin: 0.5em auto 0;
    padding: 1em;
    width: 45em;
}
.ss-form-container {
    background-color: black;
    border: 1px solid black;
}
user agent stylesheetdiv {
    display: block;
}
Inherited from body.ss-base-body
body.ss-base-body {
    background-color: #ababab;
    font-family: sans-serif,sans-serif;
}
body {
    word-wrap: break-word;
}
body {
    background-color: white;
    color: black;
    font: normal 13px arial,sans-serif;
    margin: 0;
}
Pseudo ::-webkit-scrollbar-button element
::-webkit-scrollbar-button {
    height: 0;
    width: 0;
}
Pseudo ::-webkit-scrollbar-track element
::-webkit-scrollbar-track {
    background-clip: padding-box;
    border: solid transparent;
    border-width: 0 0 0 4px;
}
Pseudo ::-webkit-scrollbar-corner element
::-webkit-scrollbar-corner {
    background: transparent;
}
Pseudo ::-webkit-scrollbar element
::-webkit-scrollbar {
    height: 16px;
    overflow: visible;
    width: 16px;
}
Pseudo ::-webkit-scrollbar-thumb element
::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,.2);
    background-clip: padding-box;
    border: solid transparent;
    border-width: 1px 1px 1px 6px;
    min-height: 28px;
    padding: 100px 0 0;
    box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07);
}
